/* bs icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* ./styles */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Playwrite+BE+VLG&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@500&family=Roboto+Condensed&display=swap");
.bg-Jet {
  background-color: #353535;
}

.bg-CaribbeanCurrent {
  background-color: #3c6e71;
}

.bg-Platinum {
  background-color: #D9D9D9;
}

.bg-IndigoDye {
  background-color: #284B63;
}

.bg-Celeste {
  background-color: #40cfff;
}

.bg-colorNaranja {
  background-color: #ff7040;
}

/* Fonts */
/* cierre fonts */
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

main {
  min-height: calc(100vh - 100px);
  background-image: url(../media/Backgrounds/vidrio.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 200px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 260px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
.headerBox {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .headerBox {
    justify-content: end;
  }
}
.headerIcon {
  margin-right: 0.5rem;
  height: 16px;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

.navbar-brand-text {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  font-size: 1.2rem;
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar-toggler {
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: white;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 1px;
}

.nav-item {
  display: flex;
  margin-right: 1rem;
  border-bottom: 1px solid white;
}

.nav-item :hover {
  scale: 1.1;
  transition: scale 0.2s, transform 0.2s;
}

@media (max-width: 767px) {
  .nav-item {
    width: 165px;
    margin-left: 62px;
    margin-right: auto;
  }
  .nav-item :hover {
    transform: translateX(5px);
  }
}
.nav-link {
  color: white !important;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 4px;
  }
}
.bi-list {
  font-size: 30px;
  color: #353535;
}

.logoPO, .navbar-toggler {
  border: 3px solid #D9D9D9;
  border-radius: 100%;
}

@media (max-width: 315px) {
  .logoPO, .navbar-toggler {
    height: 35px;
    width: 35px;
  }
}
.container-Main {
  padding: 0;
  border-left: 5px solid #353535;
  border-right: 5px solid #353535;
  min-height: calc(100vh - 150px);
  animation: bg-color-animation 20s infinite;
  background: linear-gradient(-80deg, rgb(128, 0, 128) 0%, rgb(0, 0, 255) 25%, rgb(0, 255, 255) 50%, rgb(255, 165, 0) 75%, rgb(255, 0, 255) 100%);
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes bg-color-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/* contentbox*/
.row {
  background: rgba(255, 255, 255, 0.4);
  margin: 0;
}

.content-box-A {
  padding: 1rem;
  background-color: wheat !important;
  box-shadow: inset 0 0 25px #916e41;
  border-top: 0.5rem solid #353535;
  border-bottom: 0.5rem solid #353535;
}

.content-box-B {
  padding: 1rem;
  background: linear-gradient(#3c6e71, #D9D9D9 75%) !important;
  box-shadow: inset 0 0 15px #353535;
  border: 5px solid #3c6e71;
  border-radius: 10px;
}

/* Link-A */
.link-A {
  display: flex;
  width: auto;
  margin-left: auto;
  font-size: 0.9rem;
}
.link-A i {
  align-self: center;
}
.link-A a {
  border-radius: 1rem;
  padding: 0.2rem;
  color: #353535;
  text-decoration: none;
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.link-A a:hover {
  background-color: #ff7040;
  color: white;
  transition: 0.2s;
}

.list-unstyled li {
  margin: 0.2rem 0;
}

/* Link-B */
.link-B {
  text-decoration: none;
  padding: 10px;
  color: #D9D9D9;
  background: #3c6e71;
  border-radius: 0.5rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.link-B:hover {
  color: white;
  scale: 1.1;
  transition: 0.2s;
}

/* mapa */
.mapa {
  padding: 0;
  margin: 0.4rem 0;
  border: 5px solid #3c6e71;
  border-radius: 5px;
}
.mapa iframe {
  width: 100%;
  height: 100%;
}

/* redes */
.redes {
  max-width: 500px;
}
.redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #353535;
  padding: 5px;
  height: 3rem;
  width: 3rem;
  text-decoration: none;
  border-radius: 100%;
  margin: 0 1rem;
}
.redes i {
  font-size: 1.5rem;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes p {
  margin: 0;
  line-height: 1.5;
  display: flex;
  word-break: break-all;
}

/* carousel */
.carousel-item {
  height: 230px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* iconos */
.icono-A span {
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
}
.icono-A:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.icono-A img {
  background: #40cfff;
  height: 6rem;
  width: 6rem;
  object-fit: contain;
  border-radius: 100%;
  border: 2px solid #353535;
}

/* accordeon */
.accordion-item {
  border: 0;
  background-color: beige;
  box-shadow: inset 0 0 20px #916e41;
}

.accordion-button {
  font-size: 1.3rem;
  background-color: #3c6e71;
  color: white;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: beige;
  background-color: #c49f70;
}

/* bg-img */
.bg-img {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  max-height: 300px;
}
.bg-img img {
  object-fit: cover;
}
.bg-img p {
  display: flex;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  z-index: 1;
  padding: 1rem 10px;
}

.button-bg-img {
  scale: 1.1;
  display: flex;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .bg-img p {
    display: none;
  }
}
/* galeria */
.img-G {
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  height: 300px;
  justify-content: center;
  overflow-y: scroll;
}
.img-G img {
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid #353535;
}
.img-G img:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
  border-color: white;
  box-shadow: 0 0 15px white;
}

@media (min-width: 700px) {
  .img-G {
    height: 400px;
  }
}
@media (min-width: 1000px) {
  .img-G {
    height: 550px;
  }
}
.presentacion {
  height: 30%;
  min-height: 150px;
  max-height: 300px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-image: url(../media/Backgrounds/sombrero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.presentacion p {
  display: flex;
  font-size: 4rem;
  margin: 0;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 700px) {
  .presentacion p {
    font-size: 5rem;
  }
}
h1, h2, h3, h4, .redes p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h1, h2 {
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.05rem;
  font-size: 2.7rem;
  animation: bg-text-contrast 10s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes bg-text-contrast {
  0% {
    background-color: white;
  }
  50% {
    background-color: #353535;
  }
  100% {
    background-color: white;
  }
}
h3, h4, .redes p {
  font-size: 1.5rem;
  text-shadow: 0 0 7px #353535;
  padding: 0.4rem 0;
}

h3 {
  border-top: 0.5rem solid #353535;
  background-image: url(../media/Backgrounds/azulejo.webp);
  background-size: 110px;
  margin: 0;
}

.form-email {
  max-width: 420px;
  margin: 50px auto;
}
.form-email .feedback-input {
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #353535;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.form-email .feedback-input:focus {
  border: 2px solid white;
}
.form-email textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.form-email [type=submit] {
  width: 100%;
  background: #353535;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.form-email [type=submit]:hover {
  background: white;
  color: #353535;
}

/*# sourceMappingURL=style.css.map */
