.container-Main{
  overflow-x: hidden;
  padding: 0;
  border-left: 5px solid $colorJet;
  border-right: 5px solid $colorJet;
  min-height:calc(100vh - 150px);

  animation: bg-color-animation 20s infinite;

  background: linear-gradient( -80deg, rgba(128, 0, 128, 1) 0%, rgba(0, 0, 255, 1) 25%, rgba(0, 255, 255, 1) 50%, rgba(255, 165, 0, 1) 75%, rgba(255, 0, 255, 1) 100%);

  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes bg-color-animation{
  0% {
    background-position: 0% 0%;
  }
  50% { 
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;

  }
}
.efecto-vidrio{
  background: rgb(255, 255, 255 ,0.4);
}
/* contentbox*/

.content-box-A {
  padding:  1rem 1.5rem;
  background-color: wheat !important;
  box-shadow: inset 0 0 25px $coloramarron;
  border-top: 0.5rem solid $colorJet;
  border-bottom: 0.5rem solid $colorJet;
}

.content-box-B {
  padding: 1rem;
  background:linear-gradient($colorCaribbeanCurrent,$colorPlatinum 75%)  !important;
  box-shadow: inset 0 0 15px $colorJet;
  border: 5px solid $colorCaribbeanCurrent;
  border-radius: 10px;
}


/* Link-A */

.link-A {
  display:inline-flex;
  width: auto;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  margin-bottom: 5px;
  padding: 5px;
  color: $colorJet;
  text-decoration: none;
  @include playwrite-ar(400);
  i{
    align-self: center;
  }
  &:hover {
    background: $colorNaranja;
    color: white;
    transition: 0.2s;

  }
}
.list-unstyled{
  li{
    margin: 0.2rem 0;
  }
}

/* Link-B */
.link-B{
  text-decoration: none;
  padding: 10px;
  color: $colorPlatinum;
  background: $colorCaribbeanCurrent;
  border-radius: 0.5rem;
  @include nunito;
  &:hover{
    color: white;
    scale: 1.1;
    transition: 0.2s;
  }
}

/* mapa */
.mapa{
  padding: 0;
  margin: 0.4rem 0;
  border: 5px solid $colorCaribbeanCurrent;
  border-radius: 5px;
  iframe{
    width: 100%;
    height: 100%;
  }
}
/* redes */
.redes{

  max-width: 500px;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $colorJet;
    padding: 5px;
    height: 3rem;
    width: 3rem;
    text-decoration: none;
    border-radius: 100%;
    margin: 0 1rem;
    &:hover{
      animation: animationRedes 0.6s forwards;
    }
  }
  i{
    font-size: 1.5rem;
    color: $colorJet;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    @extend h4;
    margin: 0;
    line-height: 1.5;
    display: flex;
    word-break:break-all;
  }
}

@keyframes animationRedes {
  50%{
    rotate: 360deg;
  }
  75%{
    scale: 1.2;
    rotate: 360deg;

  }
  100%{
    scale: 1.1;
    rotate: 360deg;
    background-color: white;
    box-shadow: 0 0 20px white;
  }
}

/* carousel */
.carousel-item {
  height: 230px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 1rem;
}

/* iconos */

.icono-A{
  span{
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  &:hover{
    transform: scale(1.1);
    transition: 0.2s;
  }
  img{
    background:$colorCeleste;
    height: 6rem;
    width: 6rem;
    object-fit:contain;
    border-radius: 100%;
    border: 2px solid $colorJet;
  }
}
/* accordeon */
.accordion-item{
  border: 0;
  background-color: beige;
  box-shadow: inset 0 0 20px $coloramarron;
}
.accordion-button{
  font-size: 1.3rem;
  background-color: $colorCaribbeanCurrent;
  color: white;
  @include caveat;
}
.accordion-button:focus{
  box-shadow: none;
}
.accordion-button:not(.collapsed){
  color: beige;
  background-color: #c49f70;
}

/* bg-img */
.bg-img{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  max-height: 500px;
  img{
    object-fit: cover;
  }
  p{
    display: flex;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    z-index: 1;
    padding: 1rem 10px;
  }
}

.button-bg-img {
  scale: 1.1;
  display: flex;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
  margin-bottom: 1rem;
}

@media(max-width: 450px){
  .bg-img{
    p{
      display: none;
    }
  }
}


/* galeria */

.img-G {
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  height: 300px;
  justify-content: center;
  overflow-y: scroll;

  img {
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid $colorJet;

    &:hover {
      transform: scale(1.02); 
      transition: transform 0.2s;
      border-color: white;
      box-shadow: 0 0 15px white;
    }
  }
}

@media (min-width: 700px){
  .img-G{
    height: 400px;
  }
}
@media (min-width: 1000px){
  .img-G{
    height: 550px;
  }
}